$common_color:#002e5b;
$white_color:#fff;
$heading_color:#002e5b;
$button_color:#e74d58;
$pragraph_color:#97adc2;
$roboto:'Roboto', sans-serif;
$monserat: 'Montserrat', sans-serif;
$monserat_thin:100;
$monserat_light:300;
$monserat_regular:400;
$monserat_medium:500;
$monserat_semibold:600;
$monserat_bold:700;
$roboto_light:300;
$roboto_regular:400;
$roboto_medium:500;
$roboto_bold:700;
$roboto_black:900;