@import "../variable/variable";

/* section logo part start*/ 
#section_logo{
    padding: 75px 0;
    background: $common_color;
}
.section_logo_main{
         .lalala{
            img{
                padding-left: 30px;
            }
         }   
         .janina{
            img{
                padding-left: 40px;
            }
         } 
}
/* section logo part end*/ 